@property --color1 {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

@property --color2 {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}


body {
    background-color: var(--color2);
    color: var(--color1);
    border-color: var(--color1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    border-bottom: solid;
}

section, article {
    border: solid;
    border-radius: 10px;
}

footer {
    border-top: solid;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p, input, label {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--color1);
}

.button {
    background-color: var(--color1);
    color: var(--color2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}